@font-face {
  font-family: mojangles;
  src: url(./Fonts/mojangles.ttf);
}

body{
  font-family: mojangles, Fallback, Impact;
}

div.container{
  color: red;
}

select{
  position: relative;
  margin: 10px;
  padding-left: 10px;
}
